{% extends 'data/base_generic.html' %}
{% load custom_tags %}
{% block content %}
<h1> Control Tower Interface</h1>
<h2> Week {{ week }} </h2>
<h3> {{ user.username }}</h3>
<h4> Codename : {{ user.codename }} </h4> <h4> Role : {{group}} </h4>
<h5> Funds : {{ user.funds }}</h5>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3> Stock </h3>
<form method="post">
    {{ formset_stock.management_form }}
    {% csrf_token %}
    <table>
    {% for good in goods_stock %}
        <tr>
        {% with b=dict_stock|keyvalue:good.idG %}
            <td> {{ good.nameG}} </td>
            <td> {{ b.as_p }} </td>
        {% endwith %}
        </tr>
    {% endfor %}
    </table>
    {% if first_week %}
    <input type="submit" name="submitS" value="Edit">
    {% endif %}
</form>
--------------------------------------------------------------------------

<h3> Buy </h3>
{% if fact %}
<form method="post">
        {{ formset_buy_1.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy_1 %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy_1 %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy_1 %}
                <td>
                    {% with a=user.codename|add:good.idG %}
                        {% with tran_1=dict_info_buy_1|keyvalue:a %}
                            Quantity : {{ tran_1.quanT }}
                            Price : {{ tran_1.priceT }}
                        {% endwith %}
                    {% endwith %}
                    {% with a=user.codename|add:good.idG %}
                        {% with b=dict_buy_1|keyvalue:a %}
                            {{ b.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitB_1" value="Edit">
    </form>
<form method="post">
        {{ formset_buy_2.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy_2 %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy_2 %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy_2 %}
                <td>
                    {% with a=user.codename|add:good.idG %}
                        {% with tran_2=dict_info_buy_2|keyvalue:a %}
                            Quantity : {{ tran_2.quanT }}
                            Price : {{ tran_2.priceT }}
                        {% endwith %}
                    {% endwith %}
                    {% with a=user.codename|add:good.idG %}
                        {% with b=dict_buy_2|keyvalue:a %}
                            {{ b.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitB_2" value="Edit">
    </form>
{% elif dist %}
<form method="post">
        {{ formset_buy.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy %}
            {% for logic in logistics %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy %}
                <td>
                    {% with a=user.codename|add:logic.codename %}
                        {% with b=a|add:good.idG %}
                            {% with tran=dict_info_buy|keyvalue:b %}
                                Quantity : {{ tran.quanT }}
                                Price : {{ tran.priceT }}
                            {% endwith %}
                            {% with f=dict_buy|keyvalue:b %}
                                {{ f.as_p }}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
        </table>

        <input type="submit" name="submitB" value="Edit">
    </form>
{% else %}
<form method="post">
        {{ formset_buy.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy %}
                <td>
                    {% with a=user.codename|add:good.idG %}
                        {% with tran=dict_info_buy|keyvalue:a %}
                            Quantity : {{ tran.quanT }}
                            Price : {{ tran.priceT }}
                        {% endwith %}
                    {% endwith %}
                    {% with a=user.codename|add:good.idG %}
                        {% with b=dict_buy|keyvalue:a %}
                            {{ b.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitB" value="Edit">
    </form>
{% endif %}
--------------------------------------------------------------------------
{% if not supp %}
{% if fact %}
<h3> Order </h3>
<form method="post">
        {{ formset_order_1.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy_1 %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy_1 %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy_1 %}
                <td> {% with a=user.codename|add:good.idG %}
                        {% with b=dict_order_1|keyvalue:a %}
                            {{ b.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitO_1" value="Edit">
    </form>
<form method="post">
        {{ formset_order_2.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy_2 %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy_2 %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy_2 %}
                <td> {% with a=user.codename|add:good.idG %}
                        {% with b=dict_order_2|keyvalue:a %}
                            {{ b.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitO_2" value="Edit">
    </form>
{% else %}
<h3> Order </h3>
<form method="post">
        {{ formset_order.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_buy %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in seller_buy %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_buy %}
                <td> {% with a=user.codename|add:good.idG %}
                        {% with b=dict_order|keyvalue:a %}
                            {{ b.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitO" value="Edit">
    </form>
{% endif %}
--------------------------------------------------------------------------
{% endif %}
{% if not first_week %}
{% if ware %}
<h3> Sell </h3>
    <form method="post">
        {{ formset_sales.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_sales %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in buyer_sales %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_sales %}
                <td>
                    {% with c=user.codename|add:good.idG %}
                        {% with order=dict_info_sales|keyvalue:c %}
                            Order: {{order.quanO}}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% for logic in logistics %}
            <tr>
                <td> {{ logic.codename }} </td>
                {% for good in goods_sales %}
                <td>
                    {% with a=user.codename|add:logic.codename %}
                        {% with b=a|add:good.idG %}
                            {% with price=dict_info_transport|keyvalue:b %}
                                Tprice: {{price.priceTransport}}
                            {% endwith %}
                            {% with c=dict_sales|keyvalue:b %}
                                {{ c.as_p }}
                            {% endwith %}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
        </table>

        <input type="submit" name="submitA" value="Edit">
    </form>
{% else %}
<h3> Sell </h3>
    <form method="post">
        {{ formset_sales.management_form }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td>
                {% for good in goods_sales %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for user in buyer_sales %}
            <tr>
                <td> {{user.codename}} </td>
                {% for good in goods_sales %}
                <td>
                    {% with a=user.codename|add:good.idG %}
                        {% with order=dict_info_sales|keyvalue:a %}
                            Order: {{order.quanO}}
                        {% endwith %}
                    {% endwith %}
                    {% with c=user.codename|add:good.idG %}
                        {% with d=dict_sales|keyvalue:c %}
                            {{ d.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitA" value="Edit">
    </form>
{% endif %}
-------------------------------------------------------------
{% endif %}
<h3> Validate </h3>

<form method="post">
    {% csrf_token %}
    {{ form_validate.as_p }}
    <input type="submit" name="submitV" value="Edit">
</form>

{% endblock %}