{% extends 'week/form_simulB.html' %}
{% load custom_tags %}
{% block content %}
<h1> Control Tower Interface</h1>
<h2> Week {{ week }} </h2>
<h3> {{ user.username }}</h3>
<h4> Codename : {{ user.codename }} </h4> <h4> Role : {{group}} </h4>
<h5> Funds : {{ user.funds }}</h5>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not first_week %}
<h3> Transaction </h3>
<h4> Please confirm the transactions to validate. </h4>
    <form method="post">
        {{ formset_sales.management_form }}
        {{ formset_sales.non_form_errors }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td><td> </td>
                {% for good in goods_sales %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for use in seller_sales %}
            <tr>
                </tr>
            {% for user in buyer_sales %}
            <tr>
                <td> {{use.codename}} </td>
                <td>  to {{user.codename}} </td>
                {% for good in goods_sales %}
                <td>
                    {% with a=use.codename|add:user.codename|add:good.idG %}
                        {% with order=dict_info_sales|keyvalue:a %}
                            {{order.quanO}}
                        {% endwith %}
                    {% endwith %}
                    {% with c=use.codename|add:user.codename|add:good.idG %}
                        {% with d=dict_sales|keyvalue:c %}
                            {{ d.as_p }}
                        {% endwith %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitA" value="Confirm">
    </form>


{% endif %}
-------------------------------------------------------------
<h3> Part-time workers </h3>
<table>
        <tr>
            <td> Capacity </td>
            <td> {{ cap }} </td>
        </tr>
        <tr>
            <td> Demand </td>
            <td> {{ quann }} </td>
        </tr>
        <tr>
            <td> Part-time workers </td>
            <td> {{ num }} </td>
        </tr>
    </table>
-------------------------------------------------------------
{% if first_week %}
<h3> Validate </h3>

<form method="post">
    {% csrf_token %}
    {{ form_validate.as_p }}
    <input type="submit" name="submitV" value="Edit">
</form>
{% else %}
<h3> Validate : {{request.user.validate}} </h3>
{% endif %}
{% endblock %}