{% extends 'data/base_generic.html' %}
{% load custom_tags %}
{% block content %}
{{ check }}
<h1> Control Tower Interface</h1>
<h2> Week {{ week }} </h2>
<h3> {{ user.username }}</h3>
<h4> Codename : {{ user.codename }} </h4> <h4> Role : {{group}} </h4>
<h5> Funds : {{ info_user.funds }}</h5>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3> Transport Prices </h3>
    <form method="post">
        {{ formset_paths.management_form }}
        {{ formset_paths.non_form_errors }}
        {% csrf_token %}
        <table>
            {% for use in seller_sales %}
            <tr>
                </tr>
            {% for user in buyer_sales %}
            <tr>
                <td> {{use.codename}} </td>
                <td>  to {{user.codename}} </td>
                <td>
                    {% with a=use.codename|add:user.codename %}
                        {% if a in keys_paths %}
                            {% with path=dict_info_paths|keyvalue:a %}
                                {% if path.chosenP %}
                                    chosen
                                {% else %}
                                    not chosen
                                {% endif %}
                            {% endwith %}
                            {% with d=dict_paths|keyvalue:a %}
                                {{ d.as_p }}
                            {% endwith %}
                        {% endif %}
                     {% endwith %}
                </td>
            </tr>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitP" value="Edit">
    </form>
-----------------------------------------------
{% if not first_week %}
<h3> Transaction </h3>
<h4> Please confirm the transactions to validate. </h4>
<form method="post">
        {{ formset_sales.management_form }}
        {{ formset_sales.non_form_errors }}
        {% csrf_token %}
        <table>
            <tr>
                <td> </td><td> </td>
                {% for good in goods_sales %}
                <td> {{good.nameG}} </td>
                {% endfor %}
            </tr>
            {% for use in seller_sales %}
            <tr>
                </tr>
            {% for user in buyer_sales %}
            <tr>
                <td> {{use.codename}} </td>
                <td>  to {{user.codename}} </td>
                {% for good in goods_sales %}
                <td>
                    {% with a=use.codename|add:user.codename|add:good.idG %}
                        {% if a in keys_sales %}
                            {% with order=dict_info_sales|keyvalue:a %}
                                Order: {{order.quanO}}
                            {% endwith %}
                    <br>
                            {% with stock=dict_info_stock|keyvalue:a %}
                                Seller Stock: {{stock.quanS}}
                            {% endwith %}
                            {% with d=dict_sales|keyvalue:a %}
                                {{ d.as_p }}
                            {% endwith %}
                        {% else %}
                            /X/
                        {% endif %}
                     {% endwith %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name="submitA" value="Confirm">
    </form>


{% endif %}
-------------------------------------------------------------
<h3> Part-time workers </h3>
<table>
        <tr>
            <td> New Capacity </td>
            <td> {{ cap }} </td>
        </tr>
        <tr>
            <td> Demand </td>
            <td> {{ quann }} </td>
        </tr>
        <tr>
            <td> Efficiency </td>
            <td> {{ eff }} </td>
        </tr>
        <tr>
            <td> Salary </td>
            <td> {{ sal }} </td>
        </tr>
    </table>
        <form method="post" >
             {% csrf_token %}
             <table>
                {{ f_w.as_table }}
                 <tr>
                    <td></td>
                    <td><input type="submit" name="submitW" value="Edit" /></td>
                </tr>
             </table>
        </form>


-------------------------------------------------------------
{% if first_week %}
<h3> Validate </h3>

<form method="post">
    {% csrf_token %}
    {{ form_validate.as_p }}
    <input type="submit" name="submitV" value="Edit">
</form>
-------------------------------------------------------------
<h3> Change funds </h3>
<form method="post" >
             {% csrf_token %}
             <table>
                {{ i_u.as_table }}
                 <tr>
                    <td></td>
                    <td><input type="submit" name="submitI" value="Edit" /></td>
                </tr>
             </table>
    </form>
{% else %}
<h3> Validate : {{request.user.validate}} </h3>
{% endif %}
{% endblock %}