{% extends 'data/base_generic.html' %}

{% block content %}

<h1> All Weeks</h1>
<h2> You can only modify the last week created </h2>
<ul>
{% for week in weeks %}
    {% if user.is_superuser %}
        {% if week == last_week %}
            <li> <a href="{{week.week}}/controltower/modify"> week {{week.week}}  </a> </li>
        {% else %}
            <li> <a href="{{week.week}}/controltower/view"> week {{week.week}}  </a> </li>
        {% endif %}
    {% else %}
    <li> <a href="notallowed"> week {{week.week}}  </a> </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}