{% extends 'data/base_generic.html' %}

{% block content %}

<h1> All Weeks</h1>
<h2> You can only modify the last week created </h2>
<ul>
{% for week in weeks %}
    {% if user.is_superuser %}
        <li> <a href="{{week.week}}/controltower/modify"> week {{week.week}}  </a> </li>
    {% else %}
        {% if has_group %}
            <li> <a href="{{week.week}}/{{user.username}}/modify"> week {{week.week}}  </a> </li>
        {% else %}
            <li> <a href="notallowed"> week {{week.week}}  </a> </li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% endblock %}