<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    {% load custom_tags %}
  {% block title %}{% endblock %}
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
</head>
    <!-- Base template, always present on the left of the page -->
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" style="height: 80px;width: 100%;">
          {% block sidebar %}
           <ul class="sidebar-nav">
            <h3 style="float:left;"> Welcome to the Production Chain Website ! </h3>
                <p style="float: right; margin-right: 20px;padding-right: 20px;"> <a href="/">Main Page</a> </p>
                {% if user.is_authenticated %}
                    <p style="float: right; margin-right: 20px;"> Logged as {{ user.username }}</p>
                    <p style="float: right; margin-right: 20px;"> <a href="/accounts/logout"> Logout </a> </p>
                    <p style="float: right; margin-right: 20px;"> <a href="/profile/"> Profile </a> </p>
                {% else %}
                    <p style="float: right; margin-right: 20px;"> <a href="/accounts/login"> Login </a> </p>
                {% endif %}

                {% if user.is_superuser %}
                    <p style="float: right; margin-right: 20px;  "> <a href="/controltower"> access to control tower interface</a></p>
               {% endif %}
           </ul>
          {% endblock %}
      </div>
      <hr>
      <div class="col-sm-10 "  style="height:480px;width:48%; overflow:scroll;float: left;margin-left: 15px;">
             {% block content %}    <!-- Content variable between urls -->
             {% endblock %}
      </div>
         <!-- Simulation B -->
      <div style="height:480px;width:48%; overflow:scroll;float:right; margin-right: 15px;">
        {% block simulB %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
