{% extends 'data/base_generic.html' %}

{% block content %}
<h1> Welcome to the Production Chain Website ! </h1>

{% if week_exist %}
<a href="week"> access to the simulation </a>
{% endif %}

<h2>  {{ all }} actors in this simulation </h2>

<!-- List of all registered actors, classed by their group -->
<h3> Suppliers A : ({{ s_a_count }})</h3>

<ul>
{% for user in suppliers_a %}
   <li><p> {{ user }} </p></li>
{% endfor %}
</ul>

<h3> Suppliers B : ({{ s_b_count }})</h3>

<ul>
{% for user in suppliers_b %}
   <li><p> {{ user }} </p></li>
{% endfor %}
</ul>

<h3> Factories :({{ f_count }}) </h3>

<ul>
{% for user in factories %}
   <li><p> {{ user }} </p></li>
{% endfor %}
</ul>

<h3> Warehouses : ({{ w_count }})</h3>

<ul>
{% for user in warehouses %}
   <li><p> {{ user }} </p></li>
{% endfor %}
</ul>

<h3> Logistics : ({{ l_count }})</h3>

<ul>
{% for user in logistics %}
   <li><p> {{ user }} </p></li>
{% endfor %}
</ul>

<h3> Distributors : ({{ d_count }})</h3>

<ul>
{% for user in distributors %}
   <li><p> {{ user }} </p></li>
{% endfor %}
</ul>

<p> <a href="register/"> Create new account</a></p>

{% if not group_exist %}
<p> <a href="initialize/"> Initialize database </a></p>
{% endif %}

{% endblock %}


