{% extends 'data/base_generic.html' %}

{% block title %}
{% endblock %}

{% block content %}

     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Create account - Production Chain Site</h1>

         <form method="post" >  <!-- Form to create new user -->
             {% csrf_token %}
             <table>
                {{ form.as_table }} <!-- very userful way to put automatically the form in shape -->
                 <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Register" /></td> <!--button to validate -->
                 </tr>
             </table>
         </form>
     </div>

{% endblock %}