<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Begin_simulation</title>
    <style type="text/css">
        .h1{
            text-align: center;
        }
        .h2{
            float: left;
            margin-top: 100px;
        }
        .h3{
            margin-top: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="h1"> The simulation has begun. </h1>

<div class="h3">
    <h2> Please create transactions for week 1 before continuing </h2>
</div>

<div class="h2">
    <a href="/"> Return to main page </a>
</div>
</body>
</html>
