
{% block title %}
    Edit Good
{% endblock %}

{% block content %}
<!-- similar template as change_info -->
     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Edit Good {{ idG }} - Production Chain Site</h1>

         <form method="post" >
             {{form.non_form_errors}}
             {% csrf_token %}
             <table>
                {{ form.as_table }}
                 <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Edit" /></td>
                </tr>
             </table>
         </form>
     </div>

{% endblock %}