{% extends 'data/base_generic.html' %}

{% block content %}
    <h1> Control Tower Interface</h1>
    <h2> All users :</h2>

    <table> <!-- table of all users with their automatic codename -->
        <tr>
            <td> name </td>
            <td> <em> Actor Category </em> </td>
            <td> Codename </td>
        </tr>
    {% for user in all_users %}
        <tr>
            <td> <p> {{ user }} </p> </td>
            <td> {% if user.is_superuser %} <mark> admin </mark>
                 {% else %} <em> {{ user.groups.all.0 }} </em> {% endif %} </td>
            <td>  <p> {{ user.codename }}</p> </td>
        </tr>
    {% endfor %}
    </table>

    <h2> Goods :</h2>

    <table> <!-- table of all goods, the user can also modify them -->
        <tr>
            <td> Supplier A</td>
            <td></td>
            <td> Supplier B</td>
            <td></td>
            <td> Supplier A</td>
            <td></td>
            <td> Supplier B</td>
            <td></td>
        </tr>
        <tr>
        {% for good in goods_r %}
            <td> {{ good.nameG }} </td>
            <td> <a href="{{good.idG}}"> edit </a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for good in goods_p %}
            <td> {{ good.nameG }} </td>
            <td> <a href="{{good.idG}}"> edit </a></td>
            {% endfor %}
        </tr>
        <tr>
        {% for good in goods_f %}
            <td></td>
            <td> {{ good.nameG }} </td>
            <td> <a href="{{good.idG}}"> edit </a></td>
            <td></td>
            {% endfor %}
        </tr>
    </table>
<h1> <form action='begin_simulation' method='GET'>
<button type='submit'> Begin Simulation </button>
</form> </h1>

{% endblock %}